* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

body {
  height: 100vh;
}

#grid-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 25vh;
  font-size: 60px;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.cell:hover {
  background-color: rgb(240, 240, 240);
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(7),
.cell:nth-child(8) {
  border-right: 3px solid black;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(6) {
  border-bottom: 3px solid black;
}

#game-over-div {
  display: none;
}

#win-message-div,
#button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#win-message {
  font-size: 30px;
  user-select: none;
}

#new-game-button {
  font-size: 18px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
}

#new-game-button:hover {
  background-color: rgb(230, 230, 230);
}

#new-game-button:active {
  background-color: rgb(220, 220, 220);
}